<div class="columns">
    <div class="column">
        <table class="table transaction-single">
            <tbody>
                {{#each tx}}
                    <tr {{#changeable @key}}changable{{/changeable}}>
                        <td>{{@key}}</td>
                        <td data-key="{{@key}}" data-id="{{../tx.id}}">
                            {{#isArray this}}
                                {{#each ../this}}
                                    {{#isLink url}}<a href="{{../url}}" target="_blank">Link »</a>
                                {{else}}{{this}}{{/isLink}}<br />
                                {{/each}}
                {{else}}
                    {{#isLink url}}<a href="{{../url}}" target="_blank">Link »</a>
                {{else}}{{../this}}{{/isLink}}
                            {{/isArray}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{#ifCond (lookup tx "Tx Amount") "<" 0}}
        <div class="column is-one-third-desktop">
            <iframe width="100%" height="100%" id="sheet">
                You must enable JavaScript and allow iFrames to upload your data sheet.
            </iframe>
            <script>
                document.getElementById("sheet").setAttribute("src", "https://pan.executebig.org/e?count=1&origin=" + window.location.origin)
            </script>
        </div>
    {{/ifCond}}
</div>
<script>
    document.querySelectorAll("table tr[changable] td:nth-child(2)").forEach(function (node) {
        node.ondblclick = function () {
            // If the td node has children, it likely has an input node & is being edited
            if (this.children.length)
                return;

            var val = this.innerHTML;
            var input = document.createElement("input");
            input.value = val;
            input.classList.add("input")
            input.dataset.key = this.dataset.key
            input.dataset.id = this.dataset.id
            input.onblur = function () {
                const newVal = this.value;
                const key = input.dataset.key

                this.parentNode.innerHTML = newVal;

                if (val !== newVal) {
                    fetch(`/admin/transactions/${this.dataset.id}`, {
                        method: 'POST', headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            [key]: newVal
                        })
                    })
                }
            }
            this.innerHTML = "";
            this.appendChild(input);
            input.focus();
        }
    });

    window.addEventListener("message", (e) => {
        console.log(e.data.url)
        fetch(`/admin/transactions/receipt/{{tx.id}}`, {
            method: 'POST', headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                receipt: e.data.url
            })
        }).then(data => {
            window.location.reload()
        })
    }, false);
</script>