<div class="container meta" id="meta">
    <div class="columns">
        <div class="column meta-set">
            <h1 class="label">{{#ifCond filtered "==" true}}Filtered Balance{{else}}Total Balance{{/ifCond}}</h1>
            <h3 class="value" id="meta-balance">{{ currency balance }}</h3>
        </div>
        <div class="column meta-set">
            <h1 class="label">{{#ifCond filtered "==" true}}Revenue Sum{{else}}Donation This Month{{/ifCond}}</h1>
            <h3 class="value" id="meta-donation">{{ currency donation }}</h3>
        </div>
        <div class="column meta-set">
            <h1 class="label">{{#ifCond filtered "==" true}}Expenditure Sum{{else}}Expenditure This Month{{/ifCond}}</h1>
            <h3 class="value" id="meta-expenditure">{{ currency expenditure }}</h3>
        </div>
    </div>
</div>