<div class="table-container">
    <a class="button" id="clear-filter">Clear Filter</a>
    <table class="table transactions">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Amount</th>
                {{#if adminOverride}}
                <th>Receipt</th>
                <th>Manage</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each txs}}
            <tr class="tx tx-{{slugify category}}">
                <td class="txDate">
                    {{txDate}}
                </td>
                <td>
                    {{#ifCond redacted "&&" (not ../adminOverride)}}
                        {{#eq ../category "Donation"}}
                        <i class="redacted">Anonymous Donation</i>
                        {{else}}
                        <i class="redacted">Recipient Redacted</i>
                        {{/eq}}
                    {{else}}
                        {{../txDisplayName}}
                    {{/ifCond}}
                </td>

                <td class="tx-category category-selector" data-filter="{{slugify category}}"><span
                            class="dot tx-dot-{{slugify category}}"></span><span>{{category}}</span></td>

                <td class="amount {{#ifCond txAmount "<" 0}}amount-negative{{else}}amount-positive{{/ifCond}}">{{currency txAmount}}</td>

                {{#if ../adminOverride}}
                <td class="receipt">
                    {{#if receipt}}
                        {{#moreThanOne receipt}}
                            <a href="/admin/transactions/{{../id}}"><span class="dot tx-dot-success"></span>{{count ../receipt}}</a>
                        {{else}}
                            <a href="{{../receipt.0.url}}"><span class="dot tx-dot-success"></span>{{count ../receipt}}</a>
                        {{/moreThanOne}}
                    {{else}}
                        {{#ifCond account "!==" "Hack Club Bank"}} 
                            {{#ifCond ../txAmount "<" 0}}
                                {{#ifCond ../category "!=" "Internal Transfer"}}
                                    <span class="dot tx-dot-error"></span>?
                                {{/ifCond}}
                            {{/ifCond}}
                        {{/ifCond}}
                    {{/if}}
                </td>
                <td class="manage"><a href="/admin/transactions/{{id}}">Edit</a></td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    const clearButton = document.getElementById("clear-filter")

    function filterLogs(c) {
        let x, i;
        x = document.querySelectorAll("tr.tx");

        if (c === "all") {
            clearButton.classList.remove("active")
        } else {
            clearButton.classList.add("active")
        }

        for (i = 0; i < x.length; i++) {
            if (c !== "all" && !x[i].classList.contains(`tx-${c}`))
                fadeOut(x[i])
            else
                fadeIn(x[i], 'table-row')
        }
    }

    document.querySelectorAll('.category-selector').forEach((el) => {
        el.addEventListener('click', () => { filterLogs(el.dataset.filter) })
    })

    clearButton.addEventListener('click', () => { filterLogs("all") })

    function fadeOut(el) {
        if (el.style.display !== "none") {
            el.style.opacity = 1;

            (function fade() {
                if ((el.style.opacity -= .05) < 0) {
                    el.style.display = "none";
                } else {
                    requestAnimationFrame(fade);
                }
            })();
        }
    };

    function fadeIn(el, display) {
        if (el.style.display === "none") {
            el.style.opacity = 0;
            el.style.display = display || "block";

            (function fade() {
                var val = parseFloat(el.style.opacity);
                if (!((val += .05) > 1)) {
                    el.style.opacity = val;
                    requestAnimationFrame(fade);
                }
            })();
        }
    };
</script>