<div class="table-container">
    <a class="button" id="clear-filter">Clear Filter</a>
    <table class="table transactions">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                {{#unless filtered}}
                <th>Category</th>
                {{/unless}}
                <th>Amount</th>
                {{#if adminOverride}}
                <th>Receipt</th>
                <th>Manage</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
            {{#each txs}}
            <tr class="tx tx-{{slugify category}}">
                <td class="txDate">
                    {{txDate}}{{#ifCond account "==" "Hack Club Bank"}}<span style="color: #f4adb8">*</span>{{/ifCond}}
                </td>
                <td>
                    {{#ifCond redacted "&&" (not ../adminOverride)}}
                        {{#eq ../category "Donation"}}
                        <i class="redacted">Anonymous Donation</i>
                        {{else}}
                        <i class="redacted">Recipient Redacted</i>
                        {{/eq}}
                    {{else}}
                        {{../txDisplayName}}
                    {{/ifCond}}
                </td>

                {{#unless ../filtered}}
                <td class="tx-category category-selector"><a href="/category/{{slugify category}}"><span
                            class="dot tx-dot-{{slugify category}}"></span><span>{{category}}</span></a></td>
                {{/unless}}

                <td class="amount {{#ifCond txAmount "<" 0}}amount-negative{{else}}amount-positive{{/ifCond}}">{{currency txAmount}}</td>

                {{#if ../adminOverride}}
                <td class="receipt">
                    {{#if receipt}}
                        {{#moreThanOne receipt}}
                            <a href="/admin/transactions/{{../id}}"><span class="dot tx-dot-success"></span>{{count ../receipt}}</a>
                        {{else}}
                            <a href="{{../receipt.0.url}}"><span class="dot tx-dot-success"></span>{{count ../receipt}}</a>
                        {{/moreThanOne}}
                    {{else}}
                        {{#ifCond account "!==" "Hack Club Bank"}} 
                            {{#ifCond ../txAmount "<" 0}}
                                {{#ifCond ../category "!=" "Internal Transfer"}}
                                    <span class="dot tx-dot-error"></span>?
                                {{/ifCond}}
                            {{/ifCond}}
                        {{/ifCond}}
                    {{/if}}
                </td>
                <td class="manage"><a href="/admin/transactions/{{id}}">Edit</a></td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="footnote">
    <hr />
    <p><span style="color: #f4adb8">*</span> &ndash; Transactions imported from Hack Club Bank, our fiscal sponsor before July 2020.</p>
    <p>Transactions data for public display and reference only. May not be 100% accurate or up to date. Transactions are synchronized daily at 2am Eastern Time.</p>
</div>