<div class="table-container">
    <a class="button" id="clear-filter">Clear Filter</a>
    <table class="table transactions">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {{#each txs}}
            <tr class="tx tx-{{slugify category}} {{#ifCond txAmount "<" 0}}tx-negative{{else}}tx-positive{{/ifCond}}">
                <td class="txDate">
                    {{txDate}}
                </td>
                <td>
                    {{#if redacted}}
                    {{#eq category "Donation"}}
                    <i>Anonymous Donation ({{../hash}})</i>
                    {{else}}
                    <i>Recipient Redacted ({{../hash}})</i>
                    {{/eq}}
                    {{else}}
                    {{txDisplayName}}
                    {{/if}}
                </td>

                <td class="tx-category category-selector" data-filter="{{slugify category}}"><span
                            class="dot tx-dot-{{slugify category}}"></span><span>{{category}}</span></td>

                <td class="amount">{{currency txAmount}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    const clearButton = document.getElementById("clear-filter")

    function filterLogs(c) {
        let x, i;
        x = document.querySelectorAll("tr.tx");

        if (c === "all") {
            clearButton.classList.remove("active")
        } else {
            clearButton.classList.add("active")
        }

        for (i = 0; i < x.length; i++) {
            x[i].classList.remove("hidden")

            if (c !== "all" && !x[i].classList.contains(`tx-${c}`))
                x[i].classList.add("hidden")
        }
    }

    document.querySelectorAll('.category-selector').forEach((el) => {
        el.addEventListener('click', () => { filterLogs(el.dataset.filter) })
    })

    clearButton.addEventListener('click', () => { filterLogs("all") })
</script>