<article class="panel is-link transactions">
    <p class="panel-heading">
        All Transactions
    </p>
    {{#each txs}}
    <div class="panel-block tx-{{slugify category}}" data-txID="{{hash}}" title="Tx Hash: {{hash}}">
        <span class="txDate">
            {{txDate}}
        </span>
        &emsp;
        <span>
            {{#if redacted}}
                {{#eq category "Donation"}}
                <i>ANONYMOUS DONATION</i>
                {{else}}
                <i>TRANSACTION RECIPIENT REDACTED</i>
                {{/eq}}
            {{else}}
                <strong>{{txDisplayName}}</strong>
            {{/if}}
        </span>

        <div style="position: absolute; right: 15px;">
            <span class="tag tx-tag-{{slugify category}}">{{category}}</span>
            <span class="tag is-link amount">{{currency txAmount}}</span>
        </div>
    </div>
    {{/each}}
</article>