<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} &ndash; Goblin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="icon" type="image/png" href="/static/assets/icon.png" />

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@900&display=swap"
        media="print" onload="this.media='all'" />
    <link rel="preload" as="style"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@900" />
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@900&display=swap" />
        </noscript>

    {{{block 'head-inject'}}}
</head>

<body>
    <div class="Site-Content">
        <section class="section">
            <div class="container">
                <h1 class="title site-title"><span class="is-branding">Execute Big</span> Goblin &ndash; {{title}}</h1>
                <p class="subtitle">Hack Club Bank here we come.</p>
            </div>
        </section>

        <div class="container main">
            <div class="columns">
                <div class="column is-half">
                    {{{body}}}
                </div>
                <div class="column is-half">
                    <h1 class="title is-4">Server Logs</h1>
                    <div class="logs" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
        
    {{>footer}}

    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" type="text/javascript" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/static/assets/js/clog.js"></script>
    <script src="/static/assets/js/adminToggles.js"></script>
    {{{block 'foot-inject'}}}
</body>

</html>