<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} &ndash; Goblin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="icon" type="image/png" href="/static/assets/icon.png" />

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@900&display=swap"
        media="print" onload="this.media='all'" />
    <link rel="preload" as="style"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@900" />
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@900&display=swap" />
        </noscript>

    {{{block 'head-inject'}}}
</head>

<body>
    <div class="Site-Content">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title site-title is-size-1 is-size-3-mobile">{{title}}</h1>
                    <p class="subtitle">Home of Execute Big's transparent finance data (a work in progress).</p>
                </div>
            </div>
        </section>

        <section class="section main-section">
            <div class="container main">
                {{{body}}}
            </div>
        </section>

    </div>

    {{>footer}}
    
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" type="text/javascript" defer></script>
    <script async defer data-website-id="598a65f6-7ac5-45a4-a3fc-ac29aa4e2605" src="https://umami.executebig.org/umami.js"></script>

    {{{block 'foot-inject'}}}
</body>

</html>