<section class="section meta">
    <div class="columns">
        <div class="column meta-set">
            <h1 class="label">Total Balance</h1>
            <h3 class="value">{{currency stats.balance}}</h3>
        </div>
        
        <div class="column meta-set">
            <h1 class="label">Donation This Month</h1>
            <h3 class="value">{{currency stats.curMonthRev}}</h3>
        </div>
        
        <div class="column meta-set">
            <h1 class="label">Expenditure This Month</h1>
            <h3 class="value">{{currency stats.curMonthExp}}</h3>
        </div>
    </div>
</section>


<article class="panel is-link">
    <p class="panel-heading">
        All Transactions
    </p>
    {{#each txs}}
    <div class="panel-block" href="#">
        <span>
            {{#if redacted}}
            {{#eq category "Donation"}}
            <i>ANONYMOUS DONATION</i>
                {{else}}
            <i>TRANSACTION RECIPIENT REDACTED</i>
            {{/eq}}
            {{else}}
            <strong>{{txDisplayName}}</strong>
            {{/if}}
        </span>
        <span class="txDate">
            {{txDate}}
        </span>

        <div style="position: absolute; right: 15px;">
            <span class="tag is-dark">{{category}}</span>
            <span class="tag is-link">{{currency txAmount}}</span>
        </div>
    </div>
    {{/each}}
</article>